{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
            {% if buys["symbol"] != None %}
            <table class="table table-dark table-hover">
        <thead>
            <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for buy in buys %}
            <tr>
            <th>{{ buy["symbol"] }}</th>
            <th>{{ buy["name"] }}</th>
            <th>{{ buy["SUM(shares)"] }}</th>
            <th>{{ buy["price"] }}</th>
            <th>{{ buy["abs_price"]}}</th>
            </tr>
            {% endfor %}
            <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Cash</th>
            <th>{{ cash }}</th>
            </tr>
            <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>TOTAL</th>
            <th>{{ total }}</th>
            </tr>
        </tbody>
        </table>
            {% endif %}
{% endblock %}
